- //DRAGON WEBELOPER 3
- //| _config.jade | v 0.1 |
include ../dw3/_dw3.jade

- var app_title = "DW3"

- css('https://dbo.space/dw3/css/13')
- css('http://fonts.googleapis.com/css?family=Lato:300,400,700')
- css('app/css/app.css')


- js('https://dbo.space/dw3/js/14')
- js('app/js/app.js')

- menu('Principal 1', 'index.html')
- menu('InicioB', 'iniciob.html', 'index.html')
- menu('Principal 2', '#especifico', null, {'du-smooth-scroll':true, 'class':'button' })
